.card {
  width: 18rem;
  margin: 2rem;
}

.card .card-img-top {
  max-width: 100%; 
  max-height: 200px; 
  width: auto; 
  height: auto; 
  object-fit: cover; 
}
@media (max-width: 768px) {
  .maincontent {
    display: block; 
  }
  .card {
    width: 100%; 
    margin-bottom: 20px; 
 
  }
}

/* Desktop layout */
@media (min-width: 769px) {
  .maincontent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 20px;
  }
  .card {

    margin-bottom: 0; 
  }
}
